.addtocart {
    width: 700px;
    margin: auto;
    padding: 20px;
    
  }
  
  .cart-items {
    border: 1px solid #747474;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    align-items: center;
    border-radius: 5px;
    box-shadow: #404040;
  }
  
  .cart-img {
    margin-right: 20px;
  }
  
  .cart-quality {
    display: flex;
    align-items: center;
  }
  
  .cart-btn {
    background-color: #202020;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-btn:hover {
    background-color: #404040;
  }
  
  h2 {
    color: #333;
  }
  

.delete-icon-btn {
  cursor: pointer;
  font-size: 20px;
  color: #202020; 
  margin-left: 33px; 
  transition: color 0.3s; 
  display:inline-block;
}

.delete-icon-btn:hover {
  color: #404040;
}

.buy-now-btn {
  background-color: #202020; 
  color: white; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  border-radius: 7px; 
  margin-top: 10px;
}

.buy-now-btn:hover {
  background-color: #404040; 
}

.total-price{
  margin-top: 10px;
}

.wishlist-btn{
  background-color: #202020;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 10px;
}

.wishlist-btn:hover{
  background-color: #404040;
}