.beauty-content {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
  }
  
  .card {
    margin: 50px;
    max-width: 250px;
    position: relative;
    padding-bottom: 20px;
    height: auto;
  }
  
  .card img {
    max-width: 80%;
    height: auto;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

.card-body {
  background-color: #f8f9fa; 
  padding: 15px; 
  border-radius: 8px; 
}

.card-body h5 {
  color: #343a40; 
}

.card-body p {
  color: #6c757d; 
}

.card-body .btn {
  background-color: #343a40; 
  color: #fff; 
}


