/* Header.css */

.header {
  background-color: #202020;
  color: white;
  padding: 15px 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  max-height: 40px;
}

.navbar {
  padding: 0;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: #827f79; /* Yellow color, change as needed */
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 10px;
  color: #807e7e;
  margin-right: 5px;
}

.search-input {
  width: 100%;
  padding-left: 40px;
}

.icons-container {
  display: flex;
  align-items: center;
}

.icons-container a {
  margin-left: 10px;
}

/* Responsive styles using Bootstrap classes */
@media (max-width: 767px) {
  .navbar-toggler {
    margin-top: 10px;
  }

  .navbar-collapse {
    margin-top: 10px;
  }

  .search-container {
    margin-top: 10px;
  }

  .icons-container {
    margin-top: 10px;
  }
}


  

