


.logo{
    width: 70px;
    border-radius: 50px;
}
.navbar{
    background-color: #202020;
}


.search-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #555; 
  }
  
  .search-input {
    padding-left: 30px; 
  }
  
  
  .icons-container {
    display: flex;
    align-items: center; 
    margin-left: 20px; 
  }
  