.addtowishlist {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    
  }
  
  .wish-list-items {
    border: 1px solid #747474;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  .wish-list-btn{
        background-color: #202020;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
      }
      
    .wishlist-btn:hover {
    background-color: #404040;
    }
  
  